.inputArea {
	justify-content: space-evenly;
}
#textInput {
	min-height: 40px;
	font-size:20px;
}
.smallerLines {
	min-height: 20px;
	font-size:14px;
}
.buttonsWrapper {
	align-content: center;
}
.input {
margin: 5px;
font-size: A8a
}
.buttonsWrapper button {
	padding: 4px 8px;
	margin: 7px auto;
	font-size: 1.2rem;
}